<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show data</title>
    <style>
        th,
        td {
            border-style: solid;
            border-color: #96D4D4;
        }

        td a {
            outline: none;
            border: none;
            height: 30px;
            width: 60px;
            border-radius: 3px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            padding-top: 3px;
        }

        .btn-edit {
            background-color: yellow;
        }

        .btn-delete {
            background-color: red;
        }
    </style>
</head>

<body>
    <p>show CRUD from server</p>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <% for(let i=0; i<dataTable.length ; i++) { %>
            <tr>
                <td>
                    <%= dataTable[i].email %>
                </td>
                <td>
                    <%= dataTable[i].firstName %>
                </td>
                <td>
                    <%= dataTable[i].lastName %>
                </td>
                <td>
                    <%= dataTable[i].adress %>
                </td>
                <td style="text-align: center;">
                    <a type="button" href="/edit-crud?id=<%= dataTable[i].id %>" class="btn-edit"
                        name="btn-edit">Edit</a>
                    <a type="button" href="/delete-crud?id=<%= dataTable[i].id %>" class="btn-delete"
                        name="btn-delete">Delete</a>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>